<nav
  role="navigation"
  aria-label="Top Navigation"
  data-template="common/navigation"
>
  <div class="header-main">
    <div class="header-logo">
      <a data-href="/">
        <img
          class="w-full h-full"
          data-src="/images/NewSite/microsoft.webp"
          alt="Microsoft"
        />
      </a>
    </div>
    <ul class="menu-1">
      <li><a data-href="office">Microsoft 365</a></li>
      <li><a href="#">Office</a></li>
      <li><a href="#">Windows</a></li>
      <li><a href="#">Support</a></li>
    </ul>
  </div>
</nav>
