<div id="card" class="bannerMain">
  <div class="card-box">
    <div class="box1">
      <img data-src="{imgSource1}" alt="Window 11 image" />
      <p class="text-xlxl font-bold pb-0">{header1}</p>
      <p class="pb-0">{description1}</p>
      <a class="">{buttonTxt1} > </a>
    </div>
    <div class="box1">
      <img data-src="{imgSource2}" alt="Window 11 image" />
      <p class="text-xlxl font-bold pb-0">{header2}</p>
      <p class="pb-0">{description2}</p>
      <a class="">{buttonTxt2} > </a>
    </div>
    <div class="box1">
      <img data-src="{imgSource3}" alt="Window 11 image" />
      <p class="text-xlxl font-bold pb-0">{header3}</p>
      <p class="pb-0">{description3}</p>
      <a class="">{buttonTxt3} > </a>
    </div>
    <div class="box1">
      <img data-src="{imgSource4}" alt="Window 11 image" />
      <p class="text-xlxl font-bold pb-0">{header4}</p>
      <p class="pb-0">{description4}</p>
      <a class="">{buttonTxt4} > </a>
    </div>
  </div>
</div>
