<div id="connect-office">
  <h3 class="flex justify-center items-center">
    Powerful tools help you work, learn, organize, connect, and create
  </h3>
  <div class="flexRow">
    <div class="text-area">
      <h4>Connect from anywhere</h4>
      <p>
        Whether you're connecting with family and friends or collaborating with
        your team, Microsoft Teams lets you meet, chat, call, and collaborate in
        just one place, keeping you organized and simplifying your day.
      </p>
    </div>
    <div class="img-area">
      <img data-src="../../../../images/NewSite/connect.webp" alt="" />
    </div>
  </div>
</div>
