<div id="office-banner">
  <div class="txt">
    <p class="text-white text-xl">
      Help your team flourish in a hybrid work world. Get the guide >
    </p>
  </div>
  <div class="office-banner">
    <img
      data-src="../../../../images/NewSite/office-banner.webp"
      alt="Office office-banner"
    />
    <div class="text-box">
      <h3>Microsoft 365</h3>
      <p>Bring out your best in school, work, and life</p>
      <p>Find the right plan for you</p>
      <div class="grid grid-cols-2 gap-4">
        <button class="btn-banner">Personal and Family</button>
        <button class="btn-banner">Bussiness</button>
        <button class="btn-banner">Enterprise</button>
        <button class="btn-banner">Education</button>
      </div>
    </div>
  </div>
  <h3 class="office-txt">
    Microsoft 365 is a suite of apps that help you stay connected and get things
    done
  </h4>
</div>
