<div id="office-type" class="officetype">
  <ul>
    <li><button data-act="click" data-func="Word">Word</button></li>
    <li><button data-act="click" data-func="Excel">Excel</button></li>
    <li><button data-act="click" data-func="POwer">Power Point</button></li>
    <li><button data-act="click" data-func="Team">Microsoft Teams</button></li>
    <li><button data-act="click" data-func="Outlook">Outlook</button></li>
  </ul>
  <div class="img">
    <img
      class="absolute"
      id="Word"
      data-src="../../../../images/NewSite/word.webp"
      alt=""
    />
    <img
      class="absolute hidden"
      id="Excel"
      data-src="../../../../images/NewSite/Excel.webp"
      alt=""
    />
    <img
      class="absolute hidden"
      id="Power"
      data-src="../../../../images/NewSite/Powerpoint.webp"
      alt=""
    />
    <img
      class="absolute hidden"
      id="Team"
      data-src="../../../../images/NewSite/Team.webp"
      alt=""
    />
    <img
      class="absolute hidden"
      id="Outlook"
      data-src="../../../../images/NewSite/outlook.webp"
      alt=""
    />
  </div>
</div>
