<div id="plan">
  <h4>This is plan</h4>
  <p>
    Whether you want to connect with family and friends, learn remotely, or
    collaborate with your team, there’s a Microsoft 365 plan to meet your needs.
  </p>
  <div class="plan-mainbox">
    <div class="box">
      <img data-src="../../../../images/NewSite/family.webp" alt="" />
      <div class="txtbox bg-red-600">
        <button href="#">> Personal and Family</button>
        <a class="learn-more" href="#">> Learn more</a>
        <a href="#">See peronal and family plan ></a>
      </div>
    </div>
    <div class="box">
      <img data-src="../../../../images/NewSite/word.webp" alt="" />
      <div class="txtbox bg-blue-600">
        <button href="#">> Work</button>
        <a class="learn-more" href="#">> Learn more</a>
        <a href="#">See more about business ></a>
      </div>
    </div>
    <div class="box">
      <img data-src="../../../../images/NewSite/education.webp" alt="" />
      <div class="txtbox bg-purple-700">
        <button href="#">>Education</button>
        <a class="learn-more" href="#"> Learn more</a>
        <a href="#">See education plans ></a>
      </div>
    </div>
  </div>
</div>
