<div id="header">
    <div class="grid-prac">

  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
  <div class="video-box container">
    <img src="  https://source.unsplash.com/random" alt="unsplash" />
    <div class="channel-details">
      <div class="flex">
        <img src="  https://source.unsplash.com/random" alt="unsplash" />
        <p>Text Description about Video</p>
      </div>
      <div class="ml-2">
        <p>Channel Name</p>
        <p>AbC views and ago</p>
      </div>
    </div>
  </div>
          
</div>
</div>
